body{
    background-color: rgb(20, 211, 211);
}
#heading{
  font-size: 40px;
  margin-left:40%;
  font-weight: 700;
  color:white;
}

/*main body of page, contain all data*/
.hero-card {
    background: #fff;
    padding: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
    display: flex;
    width:60%;
    /* position: absolute;
    top: 20%;
    left:20%; */
    margin-top:2%;
    margin-left:20%;
    background-color: honeydew;
  }

  /* making two sections adjacent by using flex*/
  .hero-card .left {
    flex: 1;
  }

  .hero-card .left img {
    height: 500px;
    border-radius: 5%;
  }

  .hero-card .right {
   
    position: relative;
    flex: 10;
  }

  /*class common to all texts*/
  .title{
      font-weight: 510;
      padding: 20px 10px;
  }

